/* starting variables for the site */
:root {
    --white: hsla(0, 0%, 80%, 100%);
    --white2: hsla(0, 0%, 92%, 100%);
    --black: hsla(180, 3%, 6%, 100%);
    --grey: hsla(190, 6%, 74%, 100%);
    --dark-grey: hsl(170, 7%, 20%);
    --sea-green: hsl(162, 66%, 55%);
    --teal: hsl(182, 80%, 45%, 100%);
    --base-font-size: 1rem;
    --ld-bkg: light-dark(var(--white), var(--dark-grey));
    --ld-text: light-dark(var(--dark-grey), var(--grey));
    --ld-projects: light-dark(var(--white2), var(--black));
    --ld-projects-txt: light-dark(var(--dark-grey), var(--white));
}

@font-face {
    font-family: "Google Sans Flex";
    src: url(https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000.woff2) format('woff2');
}
/* set the box sizing to border-boxx for layouts */
html {
    box-sizing: border-box;
    color-scheme: light dark;
}
/* set browser native color theme switching */
html:has(#mode-switch #light:checked) {
    color-scheme: light;
}
html:has(#mode-switch #dark:checked) {
    color-scheme: dark;
}
*,
*::before
*::after {
    box-sizing: inherit;
}
/* basic page set to our foit size and font family */
body {
    font-family: "Google Sans Flex", sans-serif;
    font-size: var(--base-font-size);
    background-color: var(--ld-bkg);
    color: var(--ld-text);
    transition: background-color 0.25s ease, color 0.25s ease;
}
h1 {
    margin: 0;
    font-size: calc(var(--base-font-size) * 4);
    color: var(--ld-text);

}
h2 {
    margin: 0;
    font-size: var(--base-font-size);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: var(--ld-text);
}
h3 {
    margin: 0;
    padding: 0 0 8 0;
    font-size: calc(var(--base-font-size)* 1.1);
    color: var(--ld-text);
    font-weight: 500;
}
p {
    margin-top: 1rem;
    line-height: 1.5;
    color: var(--ld-text);
}
a {
    color: var(--teal)
}
a:hover {
    color: var(--sea-green)
}
/* make sure images don't exceed the width of the window */
img {
    max-width: 100%;
    border-radius: 2px;
}
/* svg social icon bar */
.icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;

}
ul svg {
    width: 68px;
    height: auto;
}
.social {
    fill: var(--grey)
}
.social1:hover {
    fill: var(--white)

}
.social2:hover {
    fill: var(--white)
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}
.about {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
}
.about img {
    margin: 0 auto;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    height: 300px;
    width: 350px;
}
/*footer section */
footer {
    display: grid;
    gap: 1.5rem;
    max-width: 350px;
    margin: 0 auto;
    padding-top: 2rem;
    color: var(--ld-text);
    border-top: solid 1px hsl(0, 0%, 28%);
}
.footer-text-box ul {
    font-size: calc(var(--base-font-size) * 0.85);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-text-box li {
    line-height: 1.5;
}
.footer-text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}
.footer-contact .icons svg {
    width: calc(var(--base-font-size) * 0.9);
    height: auto;
}
.footer-contact ul {
    font-size: calc(var(--base-font-size) * 0.85);
    justify-content: start;
}
.footer-contact .icons li{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
/* projects section */
main {
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}
.projects {
    display: flex;
    flex-flow: column;
    gap: 3rem;
    padding-top: 1rem;
}
.project {
    background-color: var(--ld-projects);
    padding: 3rem;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem;
    box-shadow: 8px 14px 30px -8px hsl(0, 0%, 9%, 30%);
}
.projects ul {
    list-style-type: none;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 0.3rem;
    
}
.projects li {
    border-radius: 50px;
    background-color: var(--teal);
    color: var(--black);
    min-width: 0px;
    text-align: center;
    padding: 1 10 1 10;
    font-size: calc(var(--base-font-size) * 0.8);
}
.project li:hover {
    background-color: var(--sea-green);
    color: var(--black);
    transform: scale(1.02);
}
.project a {
    text-decoration: none;
    color: var(--black);
}
.project a:hover {
    color: var(--white2);
}
.project img {
    border: solid 1px hsl(0, 0%, 20%);
}
/* light & dark mode switch*/
fieldset {
    margin: 0;
    padding: 0;
}
.radio-switch {
    border:none;
    padding: 20px;
}
.radio-switch input {
    opacity: 0;
    position: absolute;
}
.radio-switch label  {
    border: 1px solid;
    border-radius: 20px;
    padding: 3px 12px;
    z-index: 2;
    cursor: pointer;
    font-size: calc(var(--base-font-size) * 0.7);
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.15s ease;
}
.radio-switch .mode-label {
    font-size: calc(var(--base-font-size) * 0.6);
    font-weight: bold;
    white-space: nowrap;
    text-transform: uppercase;
}
.radio-switch .scr-only {
    margin: 0;
    padding: 0;
    position:absolute;
    opacity: 0;
}
#mode-switch {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}

/* Button state checked when the button is active and stays active */
.radio-switch input:checked + label[for="light"] {
    background: var(--white2);
    color: var(--black);
    border: 1px solid var(--white2);
}
.radio-switch input:checked + label[for="dark"] {
    background: var(--black);
    color: var(--white2);
    border: 1px solid var(--black);
}
/* Button state focused when the button is focused by keyboard */
.radio-switch input:focus + label {
    outline: 1px solid #c4d6f2;
    outline-offset: 0;
}
/* Button state active when the button is clicked */
#mode-switch input:active + label {
    scale: 0.97;
}
/* Button state hover when the button is hovered over */
#mode-switch label:hover {
    translate: 0 1px;
    scale: 1.02;
}
@media (prefers-color-scheme: dark) {
    :html {
        color-scheme: dark;
    }
    fieldset:not(:has(:checked)) label[for="dark"] {
        background: var(--black);
        color: var(--white2);
        border: 1px solid var(--black);
    }

}
@media (prefers-color-scheme: light) {
    :html {
        color-scheme: light;
    }
    fieldset:not(:has(:checked)) label[for="light"] {
        background: var(--white2);
        color: var(--black);
        border: 1px solid var(--white2);
    }
}
@media(min-width: 750px) {
    :root {
        --base-font-size: 1.25rem;
    }
    h1 {
        margin-left: -4px;
        line-height: 0.8em;
    }
    .wrapper {
        padding: 2rem;
    }
    .about {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
    .about img {
        height: auto;
        max-height: 350px;
        width: 400px;
        overflow: auto;
        object-fit: cover;
        object-position: none;
        margin: 0 0 0 auto;
    }
    .icons {
        justify-content: start;
    }
    footer {
        max-width: 100%;
        gap: 2rem;
    }
    .footer-text {
        grid-template-columns: repeat(2, 1fr);
    }
}